@model AttendanceGpi.Web.ViewModel.LogViewModel
<div class="col-sm-6 body-2-container">
    <div class="body-2">
        <div class="col-xs-6">
            <img src="/Images/@Model.Picture" alt="" class="img-user img-style">
        </div>
        <div class="col-xs-5 user-details">
            <label>Name</label><br>
            <p>@Model.Name &nbsp;</p>
            <label>Position</label><br>
            <p>@Model.Position &nbsp;</p>
            <label>Shift</label><br>
            <p>@Model.Shift &nbsp;</p>
            <label for="">@Model.TimeLabel</label>
            <p class="@Model.TimeTextStyle">@Model.Time</p>
        </div>
    </div>
</div>
